iframe {
  pointer-events: none;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Open Sans;
  overflow-x: hidden;
}
div {
  box-sizing: border-box;
}
#app {
  height: 100%;
  width: 100%;
  margin: auto;
  background: #ffffff;
  padding: 0 1rem;
}

#aside {
  left: -100%;
}

#app.aside-is-expanded {
  margin-left: 15rem;
  width: calc(100% - 15rem);
}

.aside-is-expanded #aside {
  left: 0;
}
